
.topnav {
  background-color: black;
  overflow: hidden;
}

.topnav a {
  float: right;
  color: white;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
  font-family: Gill Sans, sans-serif;
  font-size: 25px;
}

.topnav a:hover {
  background-color:white;
  color: black;
}

.topnav a.active {
  background-color: #379037;
  color: white;
}

.topnav a.title {
  float: left;
  color: #379037;
  text-align: center;
  padding: 16.3px 50px;
  text-decoration: none;
  font-family: Gill Sans, sans-serif;
  font-size: 50px;
}
  

.Imagenes {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
  float: left;
  padding: 5px;
}
.Imagenes:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
  padding: 2px 16px;
}

* {
  box-sizing: border-box;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

  * {box-sizing: border-box}
body {font-family: Verdana, sans-serif; 
  margin:0}

.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.descripcionServicio{ text-align: left;}

.subtitulos{padding: 20px;
  text-align: center;
  font-size: 30px; 
  font-family: Gill Sans, sans-serif;}

h4{text-align: center ;}

.Inscripcion{text-align: center; 
  font-family: Gill Sans, sans-serif;
  font-size: 25px;
  margin: 3px; 
  padding: 2px 2px;
}



input[type= CajaEmail]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=CajaNombre] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=CajaConsulta] {
  width: 100%;
  padding: 50px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}


input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 15px ;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-family:Gill Sans, sans-serif ;
  font-size: 35px;
  display: inline-block;
  right: 30%;


}

button:hover {
  opacity:1;
}

.botonCancelar {
  padding: 14px 20px;
  background-color: #f44336;
  float: center;
  width: 30%;
}

.botonContactar{
  float: center;
  width: 30%;
}


.caja {
  padding: 16px;
}


.botonConsulta {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: #474e5d;
  padding-top: 20px;
}

.consulta-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /
  border: 1px solid #888;
  width: 80%; /
}

hr {
  border: 5px solid #f1f1f1;
  margin-bottom: 25px;
}


.cerrar {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.cerrar:hover,
.cerrar:focus {
  color: #f44336;
  cursor: pointer;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  .cbotonCancela, .botonContactar {
     width: 100%;
  }
}


.row2::after {
  
  display: table;
}



footer{background-color:#04AA6D; }

.icon1{width: 8%; position: absolute; right: 45%;}
.icon2{width: 8%; position: absolute; right: 57%;}
.icon3{width: 8%; position: absolute; right: 33%;}







