

.topnav {
  background-color: white;
  overflow: hidden;
}

.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 20px 70px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #379037;
  color: white;
}

.topnav a.title {
  float: left;
  color: #379037;
  text-align: center;
  padding: 20px 70px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

  

.Club {height: 550px; width: 1450px}

.container {
  position: relative;
  max-width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #379037;;
}

.container:hover .overlay {
  opacity: 3;
}

.text {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.imagenes2{float: right; height: 300px; width: 400px}
.imagenes3{float: center; height: 300px; width: 400px}
.imagenes4{float: left; height: 300px; width: 400px}
.col{border: 3px solid white;}